<%- include("./partials/head.ejs") %>

<div class="container">
    <h1 class="main-title">
        Vazifalar jadvali
    </h1>
    <div class="task-table-wrapper">
        <table class="task-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nomi</th>
                    <th>Tavsifi</th>
                    <th>Holati</th>
                    <th>Holatni o'zgartirish</th>
                    <th>Bashqaruv</th>
                </tr>
            </thead>
            <tbody>
                <% if (todos.length > 0) { let counter = 1 %>
                    <% for (let todo of todos) { %>
                        <tr class="todo-row">
                            <td><%= counter %></td>
                            <td style="min-width: 140px; max-width: 140px; word-break: break-all;"><%= todo.title %></td>
                            <td style="min-width: 140px; max-width: 140px; word-break: break-all;"><%= todo.desc %></td>
                            <td class="status-cell" id="statusText<%= todo.id %>"><%= todo.completed ? "Bajarildi" : "Kutilyapti" %></td>
                            <td class="completed-cell">
                                <input id="checkedInput<%= todo.id %>" <%= todo.completed ? 'checked' : '' %> onchange="handleStatusChange(event, '<%= todo.id %>')" class="completed-input" type="checkbox" name="completed" />
                                <label for="checkedInput<%= todo.id %>" class="completed-label"></label>
                            </td>
                            <td>
                                <button class="btn btn-edit" onclick="handleTaskUpdate('<%= JSON.stringify(todo) %>')">Tahrirlash</button>
                                <button class="btn btn-delete" onclick="handleTaskDelete( '<%= todo.id %>')">O'chirish</button>
                            </td>
                        </tr>
                    <% counter++ } %>
                    <% } else { %>
                      <tr>
                        <td colspan="6">Hozircha sizda yangi vazifalar yo'q</td>
                      </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <dialog class="task-update-dialog">
        <h2 class="secondary-title">Vazifani tahrirlash</h2>
        <form id="todoForm" class="todo-form" action="/task/:id/update" method="POST">
            <input id="todoTitle" required class="todo-input" type="text" name="todo_title" placeholder="Vazifa uchun sarlavha..." />
            <textarea id="todoDesc" required class="todo-input" type="text" name="todo_desc" placeholder="Vazifa uchun tavsif..."></textarea>
            <div class="dialog-action-wrapper">
                <button id="closeBtn" type="button" class="todo-btn close-btn">Yopish</button>
                <button id="submitBtn" type="submit" class="todo-btn">Saqlash</button>
            </div>
        </form>
    </dialog>

</div>
<script>


async function handleTaskUpdate(task) {
   const parsedTask = JSON.parse(task);
   console.log(parsedTask)
   const updateDialog = document.querySelector('.task-update-dialog');
   const updateForm = updateDialog.querySelector('#todoForm');
   const taskTitle = updateDialog.querySelector("#todoTitle");
   const taskDesc = updateDialog.querySelector("#todoDesc");
   const closeBtn = updateDialog.querySelector("#closeBtn");
   const submitBtn = updateDialog.querySelector("#submitBtn");
   taskTitle.value = parsedTask.title;
   taskDesc.value = parsedTask.desc;
   updateForm.action = `task/${parsedTask.id}/update`;

   updateDialog.showModal();
   updateDialog.style.display = "flex";

   closeBtn.addEventListener("click", () => {
    updateDialog.close();
    updateDialog.style.display = "none";
   })

}


 async function handleStatusChange(e, id) {
    const statusText = document.getElementById(`statusText${id}`);
    statusText.innerHTML = e.target.checked ? "Bajarildi" : "Kutilyapti";

    console.log("Checked: ", e.target.checked);
    const data = await fetch(`/task/${id}/update`, {
            headers: {
                'Content-type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({completed: e.target.checked})
        });
        console.log('data:', data);
        const res = await data.json();
        console.log('res: ', res);
        console.log('Changed !', e);
        if(res.status === 200) {
            e.target.checked = res.data.completed;
        }else {
            alert('Xatolik yuzberdi !');
            alert(res?.message);
            console.log(res);
        }
  }

  async function handleTaskDelete(id) {
    console.log("Id :", id);
    const confirmation = confirm("O'chirishni tasdiqlang !");
    if(confirmation) {
        const response = await fetch(`task/${id}/delete`, {
        method: "DELETE",
        headers: {
            "Content-Type": "application/json"
        }
    });
    const res = await response.json();

    if(res.status === 200) {
        alert("Muvaffaqiyatli o'chirildi !");
        window.location.reload();
    }else {
        alert("Xatolik yuz berdi !"); 
        console.log(res);
    }
   }
}
</script>


<%- include("./partials/foot.ejs") %>
